*{
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
    text-align: center;
    background-color: #0a0a0c;
}

h1 {
    color: #c2a657;
}

#board {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
	flex-wrap: wrap;
	border: 1vw solid #CCCCCC;
    max-width: 480px;
    max-height: 480px;
    width: 100vw;
	height: 100vw;
	box-shadow: 0 10px 10px -5px rgba(224, 223, 223, 0.75);
    font-size: 0;
}

.white-sq {
    height: 12.5%;
    width: 12.5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-sq {
    height: 12.5%;
    width: 12.5%;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 85%;
    width: 85%;
}