html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#players {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#player1,
#player2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
}

.current-player.blue {
  background-image: radial-gradient(blue, black);
  border-radius: 50%;
  transform: scale(1);
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.current-player.red {
  background-image: radial-gradient(red, black);
  border-radius: 50%;
  transform: scale(1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

#ttt-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-auto-flow: row;
  grid-template-areas:
    "a0 a1 a2"
    "b0 b1 b2"
    "c0 c1 c2";
}

svg {
  height: 450px;
  width: 450px;
  position: absolute;
  stroke-width: 15;
  stroke: brown;
  visibility: hidden;
}

svg.blue {
  stroke: blue;
}

svg.red {
  stroke: red;
}

.horizontal.top {
  top: 19.5rem;
}

.horizontal.mid {
  top: 28.8rem;
}

.horizontal.bot {
  top: 38.2rem;
}

.vertical {
  top: 15rem;
}

.vertical.left {
  left: 37.8rem;
}

.vertical.mid {
  left: 47.17rem;
}

.vertical.right {
  left: 56.6rem;
}

.diagonal {
  top: 15rem;
}

.a0 {
  grid-area: a0;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.b0 {
  grid-area: b0;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.c0 {
  grid-area: c0;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  font-size: 3rem;
}

.the-move {
  width: 100%;
}
