html,
body {
  height: 100%;
  margin: 0;
}

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
}

body {
  background: rgba(25, 25, 25, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#versus {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#versus img {
  width: 100%;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#players h1,
#players h2 {
  margin: 0;
}

#vs-ai {
  display: block;
}

#vs-2p {
  display: none;
}

.current-player {
  transform: scale(1);
  animation: pulse-beat 2s infinite;
}

@keyframes pulse-beat {
  0% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.winning-trio span {
  transform: scale(1);
  animation: pulse-move 2s infinite;
}

@keyframes pulse-move {
  0% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

#ttt-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "a0 a1 a2"
    "b0 b1 b2"
    "c0 c1 c2";
  border: 5px solid white;
  border-radius: 5%;
}

.a0 {
  grid-area: a0;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}

.a1 {
  grid-area: a1;
  border-bottom: solid 1px white;
}

.a2 {
  grid-area: a2;
  border-left: solid 1px white;
  border-bottom: solid 1px white;
}

.b0 {
  grid-area: b0;
  border-right: solid 1px white;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
  border-left: solid 1px white;
}

.c0 {
  grid-area: c0;
  border-top: solid 1px white;
  border-right: solid 1px white;
}

.c1 {
  grid-area: c1;
  border-top: solid 1px white;
}

.c2 {
  grid-area: c2;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 10rem;
  cursor: pointer;
  overflow: hidden;
}

.the-move {
  width: 100%;
}

div.history-buttons {
  display: flex;
  justify-content: center;
}

div.history-buttons span {
  cursor: pointer;
}

#players-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#game-over {
  display: none;
}

#players {
  display: block;
  width: 100%;
}

#the-winner {
  font-size: 3rem;
}

#aydi {
  width: 250px;
  height: 100px;
  color: red;
  background-color: pink;
}
