html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
}

#versus {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#versus img {
  width: 100%;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  font-size: 1rem;
}

#players h1,
#players h2 {
  margin: 0;
}

#vs2p {
  display: none;
}

.current-player {
  transform: scale(1);
  animation: pulse-beat 2s infinite;
}

@keyframes pulse-beat {
  0% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.winning-trio.blue {
  background-color: blue;
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    background-color: black;
  }

  70% {
    background-color: blue;
  }

  100% {
    background-color: black;
  }
}

.winning-trio.red {
  background-color: red;
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    background-color: black;
  }

  70% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}

#ttt-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-auto-flow: row;
  grid-template-areas:
    "a0 a1 a2"
    "b0 b1 b2"
    "c0 c1 c2";
}

.a0 {
  grid-area: a0;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.b0 {
  grid-area: b0;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.c0 {
  grid-area: c0;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  font-size: 10rem;
  cursor: pointer;
}

.the-move {
  width: 100%;
}

div.history-buttons {
  display: flex;
  justify-content: center;
}

div.history-buttons span {
  cursor: pointer;
}

#players-shell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#game-over {
  display: none;
}

#players {
  display: block;
  width: 100%;
}

#the-winner {
  font-size: 3rem;
}
